.contactme-wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    height: auto;
    padding: 3em;
}

.contact-card {
    margin: 45px auto;
    width: 80%;
    padding: 1em;
    /* background: rgb(211, 211, 211, .8); */
    color: rgb(28, 28, 28);
    border-radius: 8px;
    /* box-shadow: 8px 8px 3em 10px inset gray; */
    text-align: center;
}

.contact-form-box {
    margin: 45px auto;
    width: 80%;
    padding: 1em;
    background: rgb(211, 211, 211, .8);
    color: rgb(28, 28, 28);
    border-radius: 8px;
    box-shadow: 8px 8px 3em 10px inset gray;
    /* text-align: center; */

}

.small-card {
    margin: 5px;
    width: auto;
    height: auto;
    /* font-size: 40px; */
    /* background: rgb(0, 0, 0, 0); */
    /* box-shadow: 10px 10px 10px 1px darkslategray; */
    text-align: center;
    transition: 0.3s;
}

.small-card p {
    font-size: 15px;
}

.small-card a {
    color: rgb(36, 36, 36);
    font-size: 15px;

}

.small-card:hover {
    box-shadow: 10px 10px 0.3em 1px darkslategray;
    transform: scale(1.1);
    transition: 0.3s;
}

@media screen and (max-width: 800px) {
  

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 450px) {
    small {
        display: none;
    }
}