.port-card {
    /* border: 3px solid darkgray; */
    /* margin: 0 auto; */
    /* margin: 10px; */
    position: initial;
    width: 100%;
    /* margin-bottom: 66px; */
    padding: 1.3rem;
    /* background: lightgray; */
    background-color: rgb(193, 193, 193);

    color: rgb(28, 28, 28);
    border-radius: 25px;
}

.repo-name {
    display: flex;
    /* border: 3px solid rgb(53, 53, 53); */
    padding: 10px;
    border-radius: 8px;
    background: rgb(177, 177, 0);
    box-shadow: 3px 3px 3em 6px inset gray;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    width: auto;
    overflow-y: auto;
    transition: 0.5s;
    font-weight: bold;
    justify-content: center;
}

.repo-name a {
    color: white;
}

.repo-name:hover {
    /* background: rgb(17, 106, 171); */
    box-shadow: 3px 3px 2em 6px inset gray;
    transform: scale(1.05);
    /* box-shadow: 3px 3px 3em 6px inset gray, 1px 1px 1em 1px darkslategray; */
    transition: 0.3s;
}

.repo-name:active {
    transform: scale(1);
    box-shadow: 3px 3px 3em 6px inset gray;
    
}

.repo-name-wrapper a {
    text-decoration: none;
}

.repo-link {
    position: relative;
    /* bottom: -100px; */
    /* border: 1px solid rgb(120, 120, 0); */
    border: none;
    border-radius: 50%;
    padding: .3em;
    width: 100px;
    background: rgb(177, 177, 0);
    font-size: 18px;
    font-weight: bold;
    /* box-shadow: 8px 8px 12px 6px inset rgb(177, 177, 0), 1px 1px 1px 1px darkslategray; */
    font-size: 2em;
    margin: 0 auto;
    z-index: 100 !important;

}

.button-wrapper {
    text-align: center;
    padding: 3em;
    margin-top: -75px;
    /* width: auto; */
}

.readme-link {
    position: relative;
    border: 1px solid rgb(120, 120, 0);
    border-radius: 50%;
    padding: .3em;
    width: auto;
    background: rgb(120, 120, 0);
    font-size: 14px;
    font-weight: bold;
    box-shadow: 8px 8px 12px 6px inset rgb(177, 177, 0), 1px 1px 1px 1px darkslategray;
    font-size: 2em;
    margin: 0 auto;
    z-index: 100 !important;
    margin-left: 15px;

}


button {
    color: white;
    text-shadow: 1px 1px darkslategray;


}

/* .repo-link:hover, .deploy-link:hover {
    background: rgb(177, 177, 0);
    box-shadow: 8px 8px 12px 6px inset rgb(120, 120, 0), 1px 1px 1px 1px darkslategray;
    /* transition: 0.5s; */
/* }  */



.card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 13px;
    margin-top: 30px;
    width: 40%;
    /* TESTING DROP-SHADOW */
    filter: drop-shadow(12px 12px 16px rgba(0, 0, 0, 0.25)) drop-shadow(-8px -8px 12px rgba(255, 255, 255, 0.3));
    /* filter: drop-shadow(-8px -8px 12px rgba(255, 255, 255, 0.3)); */
}

/* Responsive layout - makes a two column-layout instead of three columns */

@media screen and (max-width: 800px) {
    .port-card {
        width: 80%;
    }

    .repo-name {
        font-size: 22px;
    }

    .card-wrapper {
        width: 100%;
    }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {

}