.opening-blurb {
    font-size: 2em;
    /* color: rgba(238, 238, 0, 0.719); */
}

.top-box a {
    /* color: rgb(182, 182, 182); */
    text-decoration: none;
}

#top-img {
    width: 80%;
    margin-left: -30px;
}

.top-box {
    margin-top: 40px;
    padding: 1.5em;
    /* color: rgb(167, 121, 121); */
    opacity: 1;

}

.content-box {
    border: 3px solid darkgray;
    margin: 45px auto;
    width: 80%;
    /* margin-bottom: 66px; */
    padding: 2em;
    background: rgb(211, 211, 211, .8);
    color: rgb(28, 28, 28);
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 8px 8px 3em 10px inset rgb(128, 128, 128);

}

/* Responsive layout - makes a two column-layout instead of three columns */

@media screen and (max-width: 800px) {
    /* .portfolio-column {
        margin: 0 auto;
        flex: 50%;
        max-width: 33%;
    } */
    .opening-blurb {
        font-size: 1em;
    }
    #top-img {
        margin: 0 auto;
        max-width: 80%;
    }
    /* #click-img {
        max-width: 50%;
    }
    .quote-box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 90vw;
        margin-bottom: 8vh;
    } */
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    /* .portfolio-column {
        margin: 0 auto;
        flex: 90%;
        max-width: 33%;
    }
    #click-img {
        margin: 0 auto;
        max-width: 50%;
    } */
    .top-img {
        margin-top: 10px;
        float: right;
        max-width: 50%;
    }
    .top-box {
        display: flex;
        flex-direction: row;
    }
}