.loading-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.portfolio-wrapper {
    /* display: block; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* border: 1px solid black; */
    height: auto;
    width: 100vw;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    margin: 0 auto;
}

/* @media screen and (max-width: 900px){
    .portfolio-wrapper {
        width: 90vw;
    }
} */